{% extends 'base/main.html' %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>客户姓名</th>
                <th>性别</th>
                <th>QQ</th>
                <th>手机号</th>
                <th>当前状态</th>
                <th>客户来源</th>
                <th>销售</th>
                <th>班级</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}